# Папка node_modules містить всі залежності проекту,
# тому її не потрібно включати у репозиторій.
node_modules/

# Інші тимчасові файли, які можуть бути згенеровані під час роботи проекту.
*.log
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pid
*.seed
*.pid.lock

# Інші файли та папки, які можуть бути згенеровані автоматично.
.idea/
.vscode/
.DS_Store
.env

# Якщо ви працюєте з системами контролю версій,
# необхідно додати файли, які необхідно ігнорувати.
# Наприклад, `.git` папку:
.git/
