/* DEFAULT SETTINGS */
:root {
  --black-1: #23212a;
  --black-2: #1c1f35;
  --dark-blue: #091242;
  --dark-blue-1: #111c55;
  --dark-blue-2: #273270;
  --white: #ffffff;
  --gray-1: #666c89;
  --border: #d8d8d8;
  --primary-font: "Rubic", sans-serif;
  --secondary-font: "Krub", sans-serif;
  --content-width: 1160px;
  --pad-section: 0 20px;
  --yellow-gradient: linear-gradient(90deg, #ffb629, #ffda56, #ffd7a6);
  --primary-font-size: 60px;
  --sub-heading: 14px;
  --text-font: 16px;
  --accent-font: 16;
  --second-font-size: 35px;
  --heading-h4: 25px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--secondary-font);
}

.container {
  width: calc(100% - 2 * var(--pad-section));
  max-width: var(--content-width);
  padding: var(--pad-section);
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
/* STATIC */
header {
  position: relative;
  z-index: 9999;
}

.info_header {
  width: 100%;
  background-color: var(--dark-blue);
  padding: 46px 0;
}

.info_header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.logo_image {
  width: 210px;
  height: auto;
}

.icons_container,
.icon_box {
  display: flex;
  align-items: center;
  color: var(--white);
}

.icon_box {
  gap: 16px;
}

.icons_container {
  gap: 40px;
}

.icon_box__icon {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue-1);
  border: 1px solid var(--dark-blue-2);
  border-radius: 50%;
}

.icon_box__icon img {
  width: 22px;
  height: auto;
  object-fit: contain;
}

/* FIXED*/
.nav_header {
  font-family: var(--secondary-font);
  background-color: rgba(9, 18, 66, 0.25);
  transition: 0.5s;
}

.nav_header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(9, 18, 66, 0.75);
}

.nav_header .content {
  align-items: center;
}

.menu_list {
  list-style-type: none;
  padding: none;
  display: flex;
  gap: 30px;
  color: var(--white);
}

.menu_item:not(:first-child) {
  padding-left: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.menu_item a {
  position: relative;
}

.menu_item a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--white);
  display: block;
  position: absolute;
  bottom: -30px;
  left: 50%; /* Start from center */
  transform: translateX(-50%);
  transition: 0.5s;
}

.menu_item a:hover::after {
  width: 100%;
}

.social_icons {
  margin-left: auto;
  display: flex;
  gap: 24px;
}

.request_btn {
  margin-left: 50px;
  padding: 28px 50px;
  border: 1px solid var(--white);
  background-color: var(--white);
  font-family: var(--secondary-font);
  color: var(--black-1);
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
}

.request_btn:hover {
  background-color: transparent;
  color: var(--white);
}

.social_icons .icon {
  width: 100%;
  height: 20px;
  transition: 0.3s;
}

.social_icons .icon img {
  object-fit: contain;
}

.social_icons .icon:hover {
  transform: scale(1.05);
}

/* MOBILE MENU */
nav.mobile_menu {
  /* background-color: #91cfa1; */
  height: 50px;
  /* padding: 0 16px; */

  -webkit-align-items: center;
  align-items: center;
  display: none;
  /* fade in checked menu */
}
nav.mobile_menu .m-menu__checkbox {
  display: none;
}
nav.mobile_menu label.m-menu__toggle {
  cursor: pointer;
}
nav.mobile_menu .m-menu {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 450px;
  width: calc(100vw - 30px);
  height: 100vh;
  -moz-transform: translate3d(-450px, 0, 0);
  -o-transform: translate3d(-450px, 0, 0);
  -ms-transform: translate3d(-450px, 0, 0);
  -webkit-transform: translate3d(-450px, 0, 0);
  transform: translate3d(-450px, 0, 0);
  -moz-transition: transform 0.35s;
  -o-transition: transform 0.35s;
  -webkit-transition: transform 0.35s;
  transition: transform 0.35s;
  z-index: 1;
  overflow: hidden;
  background-color: #fff;
}

nav.mobile_menu .m-menu:after {
  content: "";
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
}

nav.mobile_menu .m-menu__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  bottom: 0;
  z-index: 1;
  display: none;
}
nav.mobile_menu .m-menu__header {
  padding: 0 16px;
  height: 50px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}
nav.mobile_menu .m-menu__header span {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
nav.mobile_menu .m-menu .m-menu {
  -moz-transform: translate3d(480px, 0, 0);
  -o-transform: translate3d(480px, 0, 0);
  -ms-transform: translate3d(480px, 0, 0);
  -webkit-transform: translate3d(480px, 0, 0);
  transform: translate3d(480px, 0, 0);
}
nav.mobile_menu .m-menu ul {
  height: 100%;
  overflow-y: auto;
}
nav.mobile_menu .m-menu ul li a,
nav.mobile_menu .m-menu ul li label {
  display: block;
  text-align: left;
  padding: 0 15px;
  line-height: 47px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
nav.mobile_menu .m-menu ul li label.a-label__chevron::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  right: 16px;
}
nav.mobile_menu .m-menu ul li .-invisible {
  border-bottom: 0;
}
nav.mobile_menu .m-menu .m-menu label.m-menu__toggle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
nav.mobile_menu .m-menu__checkbox:checked ~ .m-menu__overlay {
  display: block;
}
nav.mobile_menu .m-menu__checkbox:checked ~ .m-menu {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mobile_menu .wrapper {
  width: 480px;
  height: 667px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

/* HOME HERO SECTION */
.home_hero_section {
  margin-top: -76px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("images/home_hero.jpg");
  font-family: var(--primary-font);
}

.home_hero_section .content {
  flex-direction: column;
  align-items: flex-start;
  padding: 250px 0 220px 0;
  color: var(--white);
  gap: 8px;
}

h3.sub_heading {
  display: flex;
  align-items: center;
  background-color: rgba(4, 28, 55, 0.5);
  padding-right: 9px;
  font-size: 14px;
  font-weight: 400;
  height: 23px;
}

h3.sub_heading.light {
  background-color: rgba(232, 232, 232, 0.5);
}

h3.sub_heading:before {
  content: "";
  width: 4px;
  height: 100%;
  margin-right: 9px;
  background: var(--yellow-gradient);
  display: inline-block;
}

.home_hero_section h1.heading {
  font-size: var(--primary-font-size);
  max-width: 500px;
}

.home_hero_section p.text {
  max-width: 520px;
  line-height: 1.5em;
}

.explore_btn {
  margin-top: 16px;
  padding: 19px 48px;
  border: none;
  background: linear-gradient(
    90deg,
    #ffb629,
    #ffda56,
    #f8e8d3,
    #ffda56,
    #ffb629
  );
  color: var(--black-1);
  font-size: var(--accent-font);
  font-weight: 600;
  background-size: 150% 150%;
  animation: gradientAnimation 5s infinite;
  transition: all 0.5s;
}

.explore_btn:hover {
  transform: scale(0.95);
}

/* HOME SECTION 1 */
.home_section_1 {
  margin: 96px 0 120px 0;
}

.home_section_1 .heading_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  width: 294px;
  width: 30%;
}

.home_section_1 .services.icons_container {
  width: 70%;
}

.home_section_1 .service .heading {
  color: var(--black-2);
  font-size: var(--heading-h4);
  font-weight: 400;
}

.home_section_1 .service .paragraph {
  color: var(--gray-1);
}

.home_section_1 .service {
  display: flex;
}

.home_section_1 .service .service_content {
  border-left: 1px solid var(--border);
  padding-left: 25px;
}

.home_section_1 .service {
  flex: 1 1 calc(50% - 40px);
}

h2.heading {
  font-size: var(--second-font-size);
}

@media screen and (max-width: 1024px) {
  .info_header .icons_container {
    display: none;
  }

  .info_header {
    padding: 30px 0;
  }

  .desktop-menu {
    display: none;
  }

  nav.mobile_menu {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }

  .home_hero_section .content {
    padding: 180px 0 150px 0;
  }

  .fade-in-left,
  .fade-in-right,
  .fade-in-top,
  .fade-in {
    opacity: 1 !important;
    transform: none !important;
  }
}

@media screen and (max-width: 767px) {
  .info_header .logo_image {
    width: 160px;
  }

  .info_header {
    padding: 16px 0;
  }

  .home_hero_section .content {
    padding: 140px 0 100px 0;
  }

  .nav_header .request_btn {
    display: none;
  }
}

/* ANIMATIONS */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


.fade-in.active {
  opacity: 1;
}


.fade-in-top {
  opacity: 0;
  transform: translateY(-200px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.fade-in-top.active {
  opacity: 1;
  transform: translateY(0);
}


.fade-in-right {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.fade-in-right.active {
  opacity: 1;
  transform: translateX(0);
}


.fade-in-left {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.fade-in-left.active {
  opacity: 1;
  transform: translateX(0);
}

.delay_03 {
  transition: opacity 1s ease-in-out 0.3s, transform 1s ease-in-out 0.3s;
}

.delay_06 {
  transition: opacity 1s ease-in-out 0.6s, transform 1s ease-in-out 0.6s;
}

.delay_09 {
  transition: opacity 1s ease-in-out 0.9s, transform 1s ease-in-out 0.9s;
} */
